## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [77]:
import pandas as pd
import numpy as np
import requests

In [78]:
data = requests.get('http://country.io/names.json')
country_names = np.array(list(data.json().values()))

In [79]:
n = 10
data = {
    '國家': country_names[-n:],
    '人口': np.random.randint(5111, 8111111, n)
}
data = pd.DataFrame(data)

In [80]:
data.iloc[:, :]

              國家       人口
0        Austria   413392
1          Aruba  6329663
2          India  5596781
3  Aland Islands   128674
4     Azerbaijan  6575743
5        Ireland  5223734
6      Indonesia  1443784
7        Ukraine   447979
8          Qatar  2169574
9     Mozambique  7317989

In [81]:
data[data['人口'] == data['人口'].max()]
# or:
# data.loc[data['人口'].idxmax()]

           國家       人口
9  Mozambique  7317989